---
import Layout from '../layouts/Layout.astro';
const pageTitle = "Milky-Way";
---
<Layout pageTitle={pageTitle}>
    <div class="gif">
        <img src="/images/space.webp" role="presentation" width="300" height="259" decoding="async">
    </div>
    <h1>ZOUBLi Mohamed</h1>
    <span class="badge">Développeur Web</span>
    <h2>Présentation</h2>
    <p>
        Bonjour, je m'appelle Mohamed ZOUBLI, j'ai 18 ans et 
        je suis inscrit en BTS SIO, spécialité SLAM. J'ai trouvé
        la combinaison parfaite entre ma curiosité pour les technologies
        numériques et mon intérêt pour le développement de logiciels.
        Motivé par le désir de comprendre le fonctionnement interne 
        des applications informatiques et de contribuer à résoudre des
        problématiques d'entreprise grâce à des solutions logicielles
        innovantes, je suis déterminé à acquérir les connaissances et
        compétences nécessaires pour réussir dans ce domaine en constante évolution.
    </p>
    <div class="center">
        <a href="/works/">
            <button class="btn">Mes travaux</button>
        </a>
    </div>
    <h2>Langages</h2>
    <div class="skills center">
        <img class="skills__img" width="46" height="46" alt="Python" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/python/python-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="CSS" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/css3/css3-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="HTML" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/html5/html5-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="JavaScript" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/javascript/javascript-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="Git" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/git/git-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="Wordpress" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/wordpress/wordpress-original.svg"/>

    </div>
    <h2>Intérêt</h2>
    <p>
        En plus de mes activités académiques et professionnelles, j’ai une variété de centres d’intérêt personnels qui enrichissent grandement ma vie.
        Je suis un passionné de jeux vidéo, y trouvant à la fois du divertissement et de l’inspiration dans la diversité des univers et la richesse des récits.
        Mon amour pour les histoires s’étend également à ma passion pour les mangas, où je suis captivé par l’expression artistique et les intrigues imaginatives.
        Ces passe-temps m’offrent non seulement une échappatoire créative, mais stimulent aussi mes idées et renforcent mes capacités de résolution de problèmes en développement logiciel.
        J’aime également passer du temps en plein air, que ce soit en faisant de la randonnée, du vélo ou simplement en me promenant pour apprécier la nature.
        Ces activités m’aident à maintenir un mode de vie équilibré et offrent une pause rafraîchissante loin du monde numérique.
        Mon enthousiasme pour la programmation réunit tous ces centres d’intérêt, car il me permet de créer et d’explorer de nouvelles possibilités,
        en mêlant créativité et compétences techniques pour donner vie à mes idées.
    </p>
</Layout>

