---
import Layout from '../layouts/Layout.astro';
const pageTitle = "Milky-Way";
---
<Layout pageTitle={pageTitle}>
    <div class="gif">
        <img width="300" height="259" alt="RaccoonSpaceGif" src="/space.webp"/>
    </div>
    <h1>Mohamed ZOUBLI</h1>
    <span class="badge">Developer</span>
    <h2>About</h2>
    <p>
            Hi my name is Mohamed ZOUBLI, I am 18 years old, enrolled in the BTS SIO, specializing in SLAM. 
            I have found the perfect combination between my curiosity for digital technologies and my interest in software development. 
            Driven by the desire to understand the inner workings of computer applications and to contribute to solving business challenges through innovative software solutions, 
            Determined to acquire the knowledge and skills necessary to succeed in this constantly evolving field.
    </p>
    <div class="center">
        <a href="/works/">
            <button class="btn">My portfolio</button>
        </a>
    </div>
    <h2>Skills</h2>
    <div class="skills center">
        <img class="skills__img" width="46" height="46" alt="Python" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/python/python-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="CSS" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/css3/css3-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="HTML" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/html5/html5-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="JavaScript" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/javascript/javascript-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="Git" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/git/git-original.svg"/>
    </div>
    <h2>Interests</h2>
    <p>
            In addition to my academic and professional pursuits, I have a range of personal interests that greatly enrich my life. 
            I am an avid gamer, finding both entertainment and inspiration in the diverse worlds and intricate narratives of video games. 
            My love for storytelling extends to my passion for manga, where I am captivated by the artistic expression and imaginative plots. 
            These hobbies not only provide a creative outlet but also spark ideas and enhance my problem-solving abilities in software development. 
            Additionally, I enjoy spending time outdoors, whether it's hiking, cycling, or simply taking a walk to appreciate nature. 
            These activities help me maintain a balanced lifestyle and offer a refreshing break from the digital world. 
            My enthusiasm for programming ties all these interests together, as it allows me to create and explore new possibilities, 
            blending creativity with technical skills to bring my ideas to life.
    </p>
</Layout>

