---
import ThemeIcon from './ThemeIcon.astro';
---
<div class="navbar">
    <div class="navbar__title">
        <a href="/">Portfolio</a>
    </div>
    <div class="navbar__menu">
        <a href="/works/">Travaux</a>
        <a href="/posts/">Veilles</a>
        <a href="https://cv-mohamed-zoubli.vercel.app/" target="_blank">CV</a>
        <ThemeIcon />
    </div>
</div>

